header.class {
	background-color: #80ff00;
	background-position: center;
	border-bottom-width: 50px;
	border-color: yellow;
	border-left-width: 300px;
	border-right-width: 300px;
	border-style: solid;
	border-top-width: 50px;
	float: none;
	font-family: "Trebuchet MS";
	font-size: xx-small;
	font-style: italic;
	font-weight: bold;
	height: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-top: 100px;
	padding: 0px;
	text-align: center;
	text-decoration: overline underline;
	text-transform: uppercase;
	width: 1000px;
}